/* *{
    outline: 1px solid #f00 !important;
  
 
  }*/
* {
  font-family: 'Roboto' sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0%;
  padding: 0%;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/assets/images/home_page.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/home_page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 30%;
}

nav {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  font-weight: 400;
  font-size: 1.1em;
}

nav .logo a {
  color: white;
  text-decoration: none;
}

nav .logo a span {
  -webkit-transition: color 0.2s ease-out;
  color: #CCA33D;
}

nav .logo a:hover span {
  color: white;
}

nav .nav-ul {
  width: 23em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

nav .nav-ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out;
}

nav .nav-ul li a:hover {
  color: #CCA33D;
}

.main-section {
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-section .main-title {
  font-weight: 700;
  font-size: 3em;
}

.main-section .subtitle {
  font-weight: 700;
  font-size: 1.5em;
}

.social-networks {
  padding: 3%;
  margin-top: 2%;
}

.social-networks .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-networks .social-container .social-rectangle {
  display: inline-block;
  width: 3em;
  height: 3em;
  border: 0.05em solid #0e683e;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-box-shadow: 0.4em 0.4em 0px 0px #dddddd;
  -o-box-shadow: 0.4em 0.4em 0px 0px #dddddd;
  box-shadow: 0.4em 0.4em 0px 0px #424242;
  opacity: 1;
  margin-left: .6em;
  margin-right: .6em;
  border: 1px solid white;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color 0.2s ease-in-out;
}

.social-networks .social-container .social-rectangle i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2em;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
}

.social-networks .social-container .social-rectangle:hover {
  background-color: #ffffff;
  color: #CCA33D;
  border-color: #666;
}

.social-networks .social-container .social-rectangle:focus {
  outline: none;
}

.about-me-main-section {
  margin-right: 10em;
  margin-left: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me-main-section .main-title {
  font-weight: 700;
  font-size: 2em;
}

.about-me-main-section .bio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me-main-section .bio-container .info-container {
  width: 40em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about-me-main-section .bio-container .info-container .info-title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  font-size: 1.5em;
  color: #CCA33D;
}

.about-me-main-section .bio-container .info-container .info-description {
  margin-right: 4em;
  margin-left: 4em;
  font-family: 'Roboto', sans-serif;
}

.about-me-main-section .bio-container .info-container .description-1 {
  font-weight: 700;
}

.about-me-main-section .bio-container .info-container .description-2 {
  font-weight: 400;
}

.about-me-main-section .bio-container .info-container .bio-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.about-me-main-section .bio-container .info-container .bio-container .bio-list {
  list-style: none;
}

.about-me-main-section .bio-container .info-container .bio-container .bio-list li span {
  font-weight: 700;
}

.about-me-main-section .bio-container .info-container .bio-container .list-2 li a {
  color: #CCA33D;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out;
}

.about-me-main-section .bio-container .info-container .bio-container .list-2 li a:hover {
  color: #c4c4c4;
}

.about-me-main-section .bio-container .hero-image {
  background-image: url("/assets/images/hero.png");
  width: 15em;
  height: 20em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 30%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.services-section {
  margin-right: 10em;
  margin-left: 10em;
  margin-top: 10%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "content";
  padding-bottom: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  padding-bottom: 2%;
  margin: 0%;
}

.services-section .services-section-main-title {
  grid-area: "header";
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Roboto", sans-serif;
  color: #CCA33D;
  width: auto;
  height: 2em;
  margin-bottom: 0em;
}

.services-section .services-container {
  grid-area: "content";
}

.services-section .services-container .hexa {
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #FFD700;
  color: #FFD700;
  position: relative;
  margin-top: 15px;
}

.services-section .services-container .hexa:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.services-section .services-container .hexa:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.services-section .services-container .timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.services-section .services-container .timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: #d5d5d5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(213, 213, 213, 0)), color-stop(8%, #d5d5d5), color-stop(92%, #d5d5d5), to(rgba(213, 213, 213, 0)));
  background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, #d5d5d5 8%, #d5d5d5 92%, rgba(213, 213, 213, 0) 100%);
  z-index: 5;
}

.services-section .services-container .timeline li {
  padding: 2em 0;
}

.services-section .services-container .timeline .hexa {
  width: 16px;
  height: 10px;
  position: absolute;
  background: #CCA33D;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0;
}

.services-section .services-container .timeline .hexa:before {
  border-bottom: 4px solid #CCA33D;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.services-section .services-container .timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #CCA33D;
  bottom: -4px;
}

.services-section .services-container .direction-l,
.services-section .services-container .direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.services-section .services-container .flag-wrapper {
  text-align: center;
  position: relative;
}

.services-section .services-container .flag {
  position: relative;
  display: inline;
  background: white;
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.services-section .services-container .direction-l .flag:after,
.services-section .services-container .direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: white;
  border-width: 8px;
  pointer-events: none;
}

.services-section .services-container .direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.services-section .services-container .direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.services-section .services-container .time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.services-section .services-container .direction-l .time-wrapper {
  float: none;
}

.services-section .services-container .direction-r .time-wrapper {
  float: none;
}

.services-section .services-container .time {
  background: #8f8f8f;
  display: inline-block;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 8px;
}

.services-section .services-container .time svg {
  width: 48px;
  height: 48px;
}

.services-section .services-container .desc {
  color: black;
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: #fefefe;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  z-index: 15;
}

.services-section .services-container .desc .services-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-section .services-container .direction-l .desc,
.services-section .services-container .direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

.resume-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume-container .resume-title {
  margin-bottom: 6%;
  font-weight: 700;
  font-size: 2em;
}

.resume-container .education-container {
  background-color: #323232;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  border-left: .6px solid #CCA33D;
  width: 60%;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.resume-container .education-container .education-container-title {
  color: #CCA33D;
  padding-left: 2%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  font-size: 1.5em;
}

.resume-container .education-container .education-element {
  width: 100%;
  border-bottom: 0.6px solid gray;
}

.resume-container .education-container .education-element .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.resume-container .education-container .education-element .title-container svg {
  width: 25px;
  height: 30px;
}

.resume-container .education-container .education-element .title-container .title {
  padding-left: 2%;
  font-weight: 400;
  font-size: 1.3em;
}

.resume-container .education-container .education-element .description {
  padding-left: 5%;
  font-weight: 400;
  font-size: 1em;
  color: #666;
}

.resume-container .level-of-knowledge-container {
  padding-bottom: 2%;
  width: 60%;
  padding-left: 2%;
  background-color: #323232;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.resume-container .level-of-knowledge-container .level-of-knowledge-container-title {
  color: #CCA33D;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  font-size: 1.5em;
}

.resume-container .level-of-knowledge-container .level-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.resume-container .level-of-knowledge-container .level-container .skills-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.resume-container .level-of-knowledge-container .level-container .skills-container .skill-bar-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.resume-container .level-of-knowledge-container .level-container .skills-container .skill-bar-container .bar {
  width: 100%;
  font-size: .85em;
  background-color: #252525;
}

.resume-container .level-of-knowledge-container .level-container .skills-container .skill-bar-container .bar .skill-level {
  background-color: #CCA33D;
}

.resume-container .level-of-knowledge-container .level-container .skills-container .skill-bar-container .bar .java {
  width: 70%;
}

.resume-container .level-of-knowledge-container .level-container .skills-container .skill-bar-container .bar .html_css {
  width: 85%;
}

.resume-container .level-of-knowledge-container .level-container .skills-container .skill-bar-container .bar .javascript {
  width: 50%;
}

.resume-container .level-of-knowledge-container .level-container .skills-container .skill-bar-container .bar .sql {
  width: 60%;
}

.resume-container .level-of-knowledge-container .level-container .skills-container .skill-bar-container .bar .php {
  width: 40%;
}

.portofolio-page-container {
  margin-right: 10em;
  margin-left: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portofolio-page-container .portofolio-main-title {
  font-weight: 700;
  font-size: 2em;
}

.portofolio-page-container .projects-section {
  width: 60%;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.portofolio-page-container .projects-section .projects-section-title {
  color: #CCA33D;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  font-size: 1.5em;
}

.portofolio-page-container .projects-section .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portofolio-page-container .projects-section .projects-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portofolio-page-container .projects-section .projects-container .row .project-element {
  border-radius: 10px;
  margin-right: 1%;
  margin-bottom: 2%;
  width: 15em;
  height: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}

.portofolio-page-container .projects-section .projects-container .row .project-element .project-element-description {
  opacity: 0;
}

.portofolio-page-container .projects-section .projects-container .row .project-element .project-element-description a {
  text-decoration: none;
  color: white;
  -webkit-transition: color 0.3s ease-out;
}

.portofolio-page-container .projects-section .projects-container .row .project-element .project-element-description a:hover {
  color: #CCA33D;
}

.portofolio-page-container .projects-section .projects-container .row .project-element:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.portofolio-page-container .projects-section .projects-container .row .project-element:hover .project-element-description {
  opacity: 1;
}

.portofolio-page-container .projects-section .projects-container .row .tenzies {
  background-image: url("/assets/images/portofolio_projects/tenzies.png");
}

.portofolio-page-container .projects-section .projects-container .row .tenzies:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/assets/images/portofolio_projects/tenzies.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/portofolio_projects/tenzies.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
}

.portofolio-page-container .projects-section .projects-container .row .stop_watch {
  background-image: url("/assets/images/portofolio_projects/stop_watch.png");
}

.portofolio-page-container .projects-section .projects-container .row .stop_watch:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/assets/images/portofolio_projects/stop_watch.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/portofolio_projects/stop_watch.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
}

.portofolio-page-container .projects-section .projects-container .row .sudoku {
  background-image: url("/assets/images/portofolio_projects/sudoku.png");
  background-size: cover;
}

.portofolio-page-container .projects-section .projects-container .row .sudoku:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/assets/images/portofolio_projects/sudoku.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/portofolio_projects/sudoku.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
}

.portofolio-page-container .projects-section .projects-container .row .movie_freaks {
  background-image: url("/assets/images/portofolio_projects/movie_freaks.png");
}

.portofolio-page-container .projects-section .projects-container .row .movie_freaks:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/assets/images/portofolio_projects/movie_freaks.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/portofolio_projects/movie_freaks.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
}

.portofolio-page-container .projects-section .projects-container .row .achs_site {
  background-image: url("/assets/images/portofolio_projects/achs_web_site.png");
}

.portofolio-page-container .projects-section .projects-container .row .achs_site:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/assets/images/portofolio_projects/achs_web_site.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/portofolio_projects/achs_web_site.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section .contact-section-main-title {
  font-weight: 700;
  font-size: 2em;
}

.contact-section .contact-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-section .contact-section-container .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-section .contact-section-container .contact-container .contact-container-title {
  color: #CCA33D;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  font-size: 1.5em;
}

.contact-section .contact-section-container .contact-container .contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row .form-attribute {
  margin-right: 4%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row .form-attribute .form-input {
  border-radius: 10px;
  background-color: #323232;
  width: 98.5%;
  border: none;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row .form-attribute .form-input:focus {
  outline: 0;
  border-bottom: 1px solid #CCA33D;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row .form-attribute .form-input::-webkit-input-placeholder {
  color: #666;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row .form-attribute .form-input:-ms-input-placeholder {
  color: #666;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row .form-attribute .form-input::-ms-input-placeholder {
  color: #666;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row .form-attribute .form-input::placeholder {
  color: #666;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row_3 {
  width: 100%;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row_3 .form-subject .form-input-subject {
  background-color: #323232;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  resize: none;
  width: 180%;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row_3 .form-subject .form-input-subject:focus {
  outline: 0;
  border-bottom: 1px solid #CCA33D;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row_3 .form-subject .form-input-subject::-webkit-input-placeholder {
  color: #666;
  letter-spacing: 0.1em;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row_3 .form-subject .form-input-subject:-ms-input-placeholder {
  color: #666;
  letter-spacing: 0.1em;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row_3 .form-subject .form-input-subject::-ms-input-placeholder {
  color: #666;
  letter-spacing: 0.1em;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-section-container .contact-container .contact-form-container .row_3 .form-subject .form-input-subject::placeholder {
  color: #666;
  letter-spacing: 0.1em;
  font-family: "Varela", sans-serif;
}

.contact-section .contact-section-container .contact-container .contact-form-container .form-submit .input-submit {
  background-color: #CCA33D;
  -webkit-transition: background-color 0.2s ease-out;
  border: none;
  width: 100%;
  border-radius: 25px;
  color: white;
  padding: 0.6em 1.2em;
  text-align: center;
  text-justify: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-right: 1em;
  cursor: pointer;
}

.contact-section .contact-section-container .contact-container .contact-form-container .form-submit .input-submit:hover {
  background-color: #717972;
}

.contact-section .contact-section-container .contact-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-section .contact-section-container .contact-info-container .contact-info-container-title {
  color: #CCA33D;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  font-size: 1.5em;
}

.contact-section .contact-section-container .contact-info-container .contact-form-elements-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-section .contact-section-container .contact-info-container .contact-form-elements-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-section .contact-section-container .contact-info-container .contact-form-elements-container .row .contact-form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 20vh;
  width: 15vw;
}

.contact-section .contact-section-container .contact-info-container .contact-form-elements-container .row .contact-form-element svg {
  width: 40px;
  height: 40px;
}

.contact-section .contact-section-container .contact-info-container .contact-form-elements-container .row .contact-form-element .text-container {
  font-size: small;
  border-left: 1px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  justify-items: center;
}

.contact-section .contact-section-container .contact-info-container .contact-form-elements-container .row .contact-form-element .text-container p {
  color: gray;
}
/*# sourceMappingURL=index.css.map */